---
layout: layouts/archive.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 2
---
{%- css %}{% include "public/css/project-stacks.css" %}{% endcss %}

<h1>Projects</h1>

{% include "projectsStackGrid.njk" %}

<script src="/js/view-transitions.js"></script>
