---
layout: layouts/archive.njk
permalink: /design/
eleventyNavigation:
  key: Design
  order: 2
---
{%- css %}{% include "public/css/project-piles.css" %}{% endcss %}

<h1>Design</h1>
<p class="archive-intro">Selected identity, product, interface, and experimental design projects by Jonny McConnell. Browse the work by project or filter by topic to find case studies, visual systems, product explorations, and collaborative studio work.</p>

{% include "projectsPilesGrid.njk" %}
