---
layout: layouts/home.njk
home:
  introductionHeading: Design, photography, internet, classrooms, studios, food, boats, tools, process, and everything being made.
  introductionText: Jonny is a creative with one foot in design, one in photography, one in building the internet & one in the classroom. He's a tinkerer, a sailor, a chef and generally just wants to learn how things are made.
  featuredProjectThumbnailLimit: 4
---

{# Homepage content - all listings and galleries have been archived in home-archive.njk #}
