---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - aboutPages
    - boopbboop
    - featured
    - featuredProjects
    - galleries
    - images
    - nav
    - post
    - posts
    - posts with two tags
    - process
    - projects
    - second tag
    - tagList
    - xxxxxxxxx
  addAllPagesToCollections: true
layout: layouts/archive.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="/tags/">all tags</a>.</p>
