{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		
		{{ post.data.description | safe }}
				
		{% if post.data.category %}			
			{% for category in post.data.category %}
				<p class="postlist-category">{{ category }}</p>
			{% endfor %}
		{% endif %}
		
		{# getting a mix of tags here, one for posts one for the thing listed #}
		{% if post.data.tags %}
			<ul class="postlist-tags">
			{% for tag in post.data.tags %}
				<li class="postlist-tag">{{ tag }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endfor %}
</ol>
