{# Compact list component for displaying projects with thumbnails and names #}
{# Usage: {% include "projectsList.njk" %} #}

<div class="projects-list">
  {% for post in collections.projects | reverse %}
    {# Get the first image for this post as thumbnail #}
    {% set thumbnail = "" %}
    {% for image in collections.images %}
      {% if image.url == post.url and thumbnail == "" %}
        {% set thumbnail = image.src %}
      {% endif %}
    {% endfor %}
    
    {% if thumbnail %}
      <div class="project-item">
        <a href="{{ post.url }}" class="project-link">
          <img src="{{ thumbnail }}" alt="{{ post.data.title }}" class="project-thumbnail">
          <span class="project-title">{{ post.data.title }}</span>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>