---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

{# Hero Image Section #}
{%- set heroImageUrl = "" %}
{%- if images and images.length > 0 and images[0].src %}
  {# Find the processed image URL from the collections.images that matches our post #}
  {%- for processedImage in collections.images %}
    {%- if processedImage.url == page.url and processedImage.src and heroImageUrl == "" %}
      {%- set heroImageUrl = processedImage.src %}
    {%- endif %}
  {%- endfor %}
{%- endif %}

<div class="post-hero"{% if heroImageUrl and heroImageUrl != "" %} style="background-image: url('{{ heroImageUrl }}')"{% endif %}>
  <div class="post-hero-overlay"></div>
</div>

<article class="post-content">
  <header class="post-header">
    <h1>{{ title }}</h1>

    <ul class="post-metadata">
      <li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
      {%- for tag in tags | filterTagList %}
      {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
      {%- endfor %}

      {# {%- for category in category | filterCategoryList %}
      {%- set categoryUrl %}/category/{{ category | slugify }}/{% endset %}
      <li><a href="{{ categoryUrl }}" class="post-category">{{ category }}</a>{%- if not loop.last %}, {% endif %}</li>
      {%- endfor %} #}
    </ul>
  </header>

  <div class="post-body">
    {{ content | safe }}
  </div>

  {%- if collections.posts %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem %}
  {%- set nextPost = collections.posts | getNextCollectionItem %}
  {%- if nextPost or previousPost %}
  <ul class="links-nextprev">
    {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
    {%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  </ul>
  {%- endif %}
  {%- endif %}
</article>
